SUPABASE_URL=https://supabase.com/dashboard/project/mymgnputhmcvwfcuuecb
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15bWducHV0aG1jdndmY3V1ZWNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxNzQ4MzYsImV4cCI6MjEwMDc1MDgzNn0.cqFzQ_irc2C0DyTJf2obUgVc5ejDDUivXVHA1pLMezw
GROQ_API_KEY=
GEMINI_API_KEY=
